.landing-slide
  background-image: none
  background-position 15% 10%
  background-repeat no-repeat
  background-size 40%
  display: block;

  #logo
    position absolute
    left 185px
    top 10%
    width: 50%

  h1
    font-size 22px
    font-weight bold
    text-align center
    margin 275px auto 20px auto

  ul
    li
      list-style: none
      margin-left: 10px;
      line-height: .65

  ul.speakers
    li.speaker-card
      font-size: 20px

  ul.information
    margin-top 20px
    text-align right
    li.information-item
      font-size: 16px

.basic-slide
  display block

  h1
    font-size 36px
    font-weight bold
    margin 30px 40px
    text-align center

  h2
    font-size 24px
    text-align center
    font-weight bold
    margin 0 0 10px 40px

  p
    font-size 20px
    margin: 0 0 30px 40px

.basic-caption-slide
  display block

  h1
    font-size 36px
    font-weight bold
    margin 40px 0 10px 40px
    text-align center

  h2
    font-size 18px
    font-weight bold
    margin 0 0 10px 40px

  p
    font-size 20px
    margin: 0 0 30px 40px

.bullet-slide
  display: block;

  h1
    font-size 36px
    font-weight bold
    margin 40px

  ul
    li
      list-style square
      margin-left 40px
      line-height 1
      font-size 18px

.bullet-caption-slide
  display: block;

  h1
    font-size 36px
    font-weight bold
    margin 40px 0 10px 40px

  h2
    font-size 24px
    font-weight bold
    margin 40px 0 10px 40px

  p
    font-size 20px
    margin 0 0 30px 40px

  ul
    li
      list-style square
      margin-left 30px
      line-height 1
      font-size 18px

.sponsor-slide
  display: block;

  h1
    font-size 36px
    font-weight bold
    margin 40px 0 10px 40px

  h2
    font-size 18px
    font-weight bold
    margin 0 0 0 40px

  p
    font-size 20px
    margin 0 0 30px 40px

  ul
    li
      display inline
      font-size 18px
      line-height .75
      margin 0 0 0 40px

.image
  display: block;

  h1
    font-size 36px
    font-weight bold
    margin 40px 0 10px 40px

  p
    font-size 20px
    margin 0 0 30px 40px

  img
    padding-top 0%
    width 60%
