h1
  font-family: 'Open Sans', sans-serif;

.bespoke-parent
  background rgb(78, 78, 78)
  color rgba(255, 255, 255, 0.8)
  text-align left

.bespoke-slide
  background rgb(78, 78, 78)
  background-image url('../images/logo.png')
  background-position 95% 95%
  background-repeat no-repeat
  background-size 20%
  letter-spacing: 2px
